<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">   
    <title>Index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
  </head>
  
  <body>
      
    <section class="static-header">
        <p>PERSONALITY PREDICTION SYSTEM       
        </p>
    </section>

  <header id="section" class="header"> 
             <div class="nav">
                <div class="logo">
                    <img src="images/person2.svg" alt="" class="logo">
                </div>
                <ul class="nav-menu nav-menu-hide">
                    <li class="nav-item"><a href="#" class="nav-link">Personality Tests</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Myers Briggs Types</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">About Us</a></li>
                </ul>
                <div class="hamburger">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                </div>
            </div>
  </header>

  <!--intro -->
  <section>
    <div class="row">
                        <div class="col-lg-7 col-md-8 col-sm-8 col-xs-12">
                    
                </div>

                <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12 mbl-bg">
                    
                    <div class="container">
                    <div class="start-form-sec">
                        <div class="intro2">
                            <h1>Why should you know your personality?</h1>
                            <p>A personality test can provide us with a way to categorized different characteristics or traits that we might otherwise not be aware of.
<br>
                                Additionally, this categorization will help us learn how others might react to something in their environment.
                                <br>
                                These tests can be used for self-reflection and understanding, for job placement, and for learning how to better interact with others in a team or work group.</p>
                        <p>
                            By taking a personality test, one can often learn about his/herself and encourage self awareness.  For example, if a job involves presenting speeches and mingling with large crowds of people, but you’ve always felt a little uncomfortable performing the job functions, knowing that you are naturally introverted can help you to better understand yourself.  You will realize that performing these social functions will drain you of your energy.  By making this realization, you will be better able to cope with your job and create happiness for yourself.  For example, you can learn that you might have a better evening if you spend some quiet time alone before the functions to gather your energy.
                        </p>
                        <p>Personality tests and quizzes can also provide insight into how you react to other people. For example, certain personality types have a tendency to get along better, while other personality types often are prone to arguments and clashes of style and opinion.</p>
                    <p>The goal of knowing about personality type is to understand and appreciate differences between people. As all types are equal, there is no best type.</p>        
                    </div>
                         <br><br><br>                                                            
                    </div>
                </div>
                </div>
            </div>
</section>


<!-- types -->
<section class="features text-center my-5 py-1">
    <h2>Myers-Briggs Personality Types</h2>
    <p>The test attempts to assign four categories: introversion or extraversion, sensing or intuition, thinking or feeling, judging or perceiving. One letter from each category is taken to produce a four-letter test result, such as "INFJ" or "ENFP".</p>
    <br>
    <div class="row">
      <div class="col-md-3">
        <h5 class="my-4">ISTJ</h5>
        <h1 class="mb-md-0 mb-5">Quiet, serious, you earn success by thoroughness and dependability. You are practical, realistic, and responsible. You decide logically what should be done and work towards it steadily, regardless of distractions. You take pleasure in making everything orderly and organized, especially your work, your home and your life. You value traditions and loyalty.
        </h1>
      </div>
      <div class="col-md-3">
        <h5 class="my-4">ISFJ</h5>
        <h1 class="mb-md-0 mb-5">You are quiet, friendly, responsible, and conscientious. You are committed and steady in meeting their obligations. You are thorough, painstaking, and accurate. You are loyal, considerate, notice and remember specifics about people who are important to you, concerned with how others feel. You strive to create an orderly and harmonious environment at work and at home.
        </h1>
  
      </div>
      <div class="col-md-3">
        <h5 class="my-4">INFJ</h5>
        <h1 class="mb-md-0 mb-5">You seek meaning and connection in ideas, relationships, and material possessions. You want to understand what motivates people and are insightful about others. You are conscientious and committed to their firm values. You develop a clear vision about how best to serve the common good. You are organized and decisive in implementing your vision.</h1>
  
      </div>
      <div class="col-md-3">
        <h5 class="my-4">INTJ</h5>
        <h1 class="mb-md-0 mb-5">You have an original mind and great drive for implementing your ideas and achieving your goals. You quickly see patterns in external events and develop long-range explanatory perspectives. When committed, you organize a job and carry it through. Skeptical and independent, you have high standards of competence and performance - for yourself and others.</h1>
      </div>
</div>
<br><br><br>
<div class="row">
<div class="col-md-3">
    <h5 class="my-4">ISTP</h5>
    <h1 class="mb-md-0 mb-5">You are tolerant and flexible, a quiet observer until a problem appears, then you act quickly to find workable solutions. You analyze what makes things work and readily get through large amounts of data to isolate the core of practical problems. You are interested in cause and effect, and organize facts using logical principles while valuing efficiency.</h1>
  </div>
  <div class="col-md-3">
    <h5 class="my-4">ISFP</h5>
    <h1 class="mb-md-0 mb-5">You are quiet, friendly, sensitive, and kind. You enjoy the present moment, and what's going on around you. You like to have your own space and to work within your own time frame. You are loyal and committed to your values and to people who are important to you. You dislike disagreements and conflicts, but do not force their opinions or values on others.</h1>

  </div>
  <div class="col-md-3">
    <h5 class="my-4">INFP</h5>
    <h1 class="mb-md-0 mb-5">You are idealistic, and loyal to your values and to people who are important to you. You want an external life that is congruent with your values. Curious, quick to see possibilities, you can be catalysts for implementing ideas. You seek to understand people and to help them fulfill their potential. You are adaptable, flexible, and accepting unless a value is threatened.</h1>

  </div>
  <div class="col-md-3">
    <h5 class="my-4">INTP</h5>
    <h1 class="mb-md-0 mb-5">You seek to develop logical explanations for everything that interests you. You are theoretical and abstract, interested more in ideas than in social interaction. You are quiet, contained, flexible, and adaptable. You have an unusual ability to focus in depth to solve problems in your area of interest. You are skeptical, sometimes critical, and always analytical.</h1>
  </div>
</div>
<br><br><br>
<div class="row">
<div class="col-md-3">
    <h5 class="my-4">ESTP</h5>
    <h1 class="mb-md-0 mb-5">You are flexible and tolerant, you take a pragmatic approach focused on immediate results. Theories and conceptual explanations bore you - you want to act energetically to solve the problem. You focus on the here-and-now, spontaneous, enjoy each moment that you can be active with others. You enjoy material comforts and style. You learn best through doing.</h1>
  </div>
  <div class="col-md-3">
    <h5 class="my-4">ESFP</h5>
    <h1 class="mb-md-0 mb-5">You are outgoing, friendly, and accepting. You are an exuberant lover of life, people, and material comforts. You enjoy working with others to make things happen. You bring common sense and a realistic approach to your work, and make work fun. Flexible and spontaneous, you adapt readily to new people and environments. You learn best by trying a new skill with other people.</h1>

  </div>
  <div class="col-md-3">
    <h5 class="my-4">ENFP</h5>
    <h1 class="mb-md-0 mb-5">You are warmly enthusiastic and imaginative. You see life as full of possibilities. You make connections between events and information very quickly, and confidently proceed based on the patterns they see. You want a lot of affirmation from others, and readily give appreciation and support. Spontaneous and flexible, you often rely on their ability to improvise and on your verbal fluency.</h1>

  </div>
  <div class="col-md-3">
    <h5 class="my-4">ENTP</h5>
    <h1 class="mb-md-0 mb-5">You are quick, ingenious, stimulating, alert, and outspoken. You are resourceful in solving new and challenging problems. You are adept at generating conceptual possibilities and then analyzing them strategically. You are good at reading other people. Bored by routine, you will seldom do the same thing the same way, apt to turn to one new interest after another.</h1>
  </div>
</div>
<br><br><br>
<div class="row">
    <div class="col-md-3">
        <h5 class="my-4">ESTJ</h5>
        <h1 class="mb-md-0 mb-5">You are practical and realistic. Decisive, you quickly move to implement decisions. You organize projects and people to get things done, and focus on getting results in the most efficient way possible. You take care of routine details. You have a clear set of logical standards, and you systematically follow them and want others to also. You are forceful in implementing their plans.</h1>
      </div>

      <div class="col-md-3">
        <h5 class="my-4">ESFJ</h5>
        <h1 class="mb-md-0 mb-5">You are warmhearted, conscientious, and cooperative. You want harmony in their environment, work with determination to establish it. You like to work with others to complete tasks accurately and on time. Loyal, you follow through even in small matters. You notice what others need in their day-by-day lives and try to provide it. You want to be appreciated for who you are and for what you contribute.</h1>
      </div>

      <div class="col-md-3">
        <h5 class="my-4">ENFJ</h5>
        <h1 class="mb-md-0 mb-5">You are warm, empathetic, responsive, and responsible. You are highly attuned to the emotions, needs, and motivations of others. You find potential in everyone, and want to help others fulfill their potential. You may act as a catalyst for individual and group growth. You are loyal, responsive to praise and criticism. You are ociable, facilitate others in a group, and provide inspiring leadership.</h1>
    
      </div>
      <div class="col-md-3">
        <h5 class="my-4">ENTJ</h5>
        <h1 class="mb-md-0 mb-5">You are frank, decisive, and assume leadership readily. You quickly see illogical and inefficient procedures and policies, and develop and implement comprehensive systems to solve organizational problems. You enjoy long-term planning and goal setting. Usually well informed, well read, you enjoy expanding your knowledge and passing it on to others. You are forceful in presenting their ideas.</h1>
      </div>
    </div>
  </section>

    <!--form-->
    <section class="header2">
        <div class="end-form">
            <div class="container ">
                <div class="row d-flex justify-content-between ">
                    <div class="col-xl-9 col-lg-8 ">
                        <div class="end-form-heading">
                            <div class="section-heading">
                                <h2>Personality Prediction through Social Media</h2>
                                <p>Find out which personality category you fall into by analysing your social media posts.</p>
                                
        
    <p>What can we learn about people from their social media? Despite opportunities to control what we post and curate an idealized image, research suggests that for the most part, social media profiles reflect people's actual personalities, not idealized versions of themselves.</p>
</div>
                    </div>
                </div>

                <div class="submit row d-flex justify-content-center">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 m-tb-100 ">
                        <div class="submit-heading text-center try-mt mt-15">
                            <h2>Try Social Media Personality Predictor Now!</h2>
                            <p class="f-14-small">All you have to do is input your Twitter handle, and let our algorithm do the magic!</p>
                           
                        </div>
        
                        <div class="submit-form-sec mt-5 w-90 m-auto">
                            <div class="submit-form">
                                <form>
                                    <div class="s-start-form row">
                                        <div class="col-sm-10">
                                            <div class="">
                                                <input type="text" name="username" maxlength="50" id="username" placeholder="Enter your Twitter User ID" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your Twitter User ID'" required="" class="form-element-input contact_field">
                                            </div>
                                      <div class="text-right mt-4">
                                        <button class="btn s-btn-black w-100" type="submit">Submit</button>
                                    </div>
                                    </div>
                                    </div>
                                </form>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
            </div>
        </section>


<script>
$(window).scroll(function(){
            if($(this).scrollTop() > 200){
                $('.nav').addClass('sticky')
            } else{
                $('.nav').removeClass('sticky')
            }
        });
</script>
<script>
    const hamburger = document.querySelector(".hamburger");
    const navMenu = document.querySelector(".nav-menu");
    hamburger.addEventListener("click", mobileMenu);
    function mobileMenu() {
    hamburger.classList.toggle("active");
    navMenu.classList.toggle("active");
}
</script>
<script>
    const navLink = document.querySelectorAll(".nav-link");
    navLink.forEach(n => n.addEventListener("click", closeMenu));
    function closeMenu() {
    hamburger.classList.remove("active");
    navMenu.classList.remove("active");
}
</script>

  </body>
</html>